* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: Montserrat;
}

body {
    margin: 0 auto;
    background-color: #F6F5F4;
}

a {
    text-decoration: none;
    color: black;
}