.wrapperLogo {
    display: flex;
    padding: 20px;
    margin: 50px 100px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background: #FFF;
}

.wrapperLogo .imgFluent {
    background-image: url(./assets/fluent_hat-graduation-24-filled.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.wrapperLogo h1 {
    font: 400 26px Dela Gothic One;
    line-height: 100%;
    letter-spacing: -1.04px;
    margin-left: 10px;
}

.wrapperBody {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 40px 50px;
    border-radius: 16px;
}

.wrapperBody .imgOne {
    background-image: url(./assets/image_One.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 406px;
    height: 260px;
    border-radius: 16px 0 0 16px;
}

.wrapperBody .course {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #FFF;
    height: 260px;
    border-radius: 0 16px 16px 0;
}

.wrapperBody h1 {
    color: #000;
    font: 400 32px Dela Gothic One;
    line-height: 100%;
    letter-spacing: -1.28px;
}

.wrapperBody .line {
    height: 4px;
    background-color: #757575;
    margin: 40px 0;
}

.wrapperBody p {
    color: #757575;
    font: 500 16px Montserrat;
    line-height: 150%;
    letter-spacing: -0.64px;
}

.paginstion {
    display: flex;
    justify-content: center;
    align-items: center;
}