.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 125px;
}

.wrapper .btns {
    display: flex;
    align-items: center;
    gap: 25px
}

.wrapper h1 {
    font: 400 16px Dela Gothic One;
    color: #000;
}

.wrapper h1:hover {
    transition: 0.5s;
    scale: 1.5;
}

.wrapper .login {
    font: 700 16px Montserrat;
    letter-spacing: -0.662px;
    padding: 7px 10px;
    border-radius: 10px;
}

.wrapper .login:hover {
    transition: 0.5s;
    text-decoration: underline;

    box-shadow: 0px 0px 6px 1px rgb(13, 13, 13);
}

.wrapper .signUp {
    font: 400 16px Montserrat;
    color: #fff;
    border-radius: 14px;
    background: #2B788B;
    padding: 13px 0;
    width: 109px;
    text-align: center;
    line-height: 100%;
}

.wrapper .signUp:hover {
    transition: 0.5s;
    opacity: 70%;

    box-shadow: 0px 0px 6px 1px rgb(13, 13, 13);
}